.textShadow {
    text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
}

.animation {
    animation: spooky 2s alternate infinite linear;
}

@keyframes spooky {
    from {
        transform: translatey(0.40em) scaley(0.95);
    }

    to {
        transform: translatey(-0.20em);
    }
}
