@tailwind base;
@tailwind components;
@tailwind utilities;

/* use tailwind */
/* @layer utilities {
    .fillColorIn {
        background: linear-gradient(
            to right,
            rgb(156, 163, 175) 50%,
            white 50%
        );
        background-size: 200% 100%;
        background-position: right;
        animation: makeItfadeIn 2s forwards;
    }

    @keyframes makeItfadeIn {
        100% {
            background-position: left;
        }
    }
} */

/* use modules */


.dropdown {
    position: static;
    cursor: pointer;
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-right: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.2s;
}

